{% extends "layout.html" %}

{% block content %}
  <h1 class="person_name">Charges for {{ person_name }}</h1>
  <table class="person_charges">
    <thead>
      <tr>
        <th>Incident ID</th>
        <th>Incident Date</th>
        <th>Charge Description</th>
      </tr>
    </thead>
    <tbody>
      {% if charges %}
        {% for charge in charges %}
          <tr>
            <td><a href="/incidents/{{ charge.incident_id }}">{{ charge.incident_id }}</a></td>
            <td>{{ charge.incident_date }}</td>
            <td>{{ charge.charge_description }}</td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td>No charges found for this person.</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
{% endblock %}
