<!DOCTYPE html>
<html>
{% extends "layout.html" %}

{% block content %}
<head>
  <title>Filtered Crimes</title>
</head>
<body>
<table>
  <thead>
    <tr>
      <th>Crime</th>
      <th>Degree</th>
      <th>Charge Class</th>
      <th>Charged Name</th>
      <th>Counts</th>
      <th>Incident</th>
    </tr>
  </thead>
  <tbody>
    {% for crime in crimes %}
      <tr>
        <td>{{ crime.crime }}</td>
        <td>{% if crime.degree %}{{ crime.degree }}{% else %}{% endif %}</td>
        <td>{{ crime.charge_class }}</td>
        <td>{{ crime.charged_name }}</td>
        <td>{{ crime.counts }}</td>
        <td>{{ crime.incident_id }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</body>
</html>
{% endblock %}
