{% extends "layout.html" %}

{% block content %}
  <h1>Incidents</h1>
  <table>
    <thead>
      <tr>
        <th>Incident</th>
        <th>Date</th>
        <th>Name(s)</th>
        <th>Charges</th>
        <th>Details</th>
        </tr>
    </thead>
    <tbody>
      {% for incident in incidents %}
        <tr>
          <td><a href="/incidents/{{ incident.id }}">{{ incident.id }}</a></td>
          <td>{{ incident.incident_date }}</td>
          <td>
            {% for name in incident.accused_name.split(',') %}
              <a href="{{ url_for('charges', person_name=name.strip()) }}">{{ name.strip() }}</a>
              {% if not loop.last %}, {% endif %}
            {% endfor %}
          </td>
          <td>{{ incident.charges }}</td>
          <td>{{ incident.details }}</td>
          </tr>

      {% endfor %}
    </tbody>
  </table>
{% endblock %}
