{% extends "layout.html" %}

{% block content %}
  <h1 class="incident_details">Incident Details</h1>

  {% if incident %}
    <table class="incident_details">
      <tbody>
        <tr>
          <th>Incident ID:</th>
          <td>{{ incident.id }}</td>
        </tr>
        <tr>
          <th>Accused Name:</th>
          <td>{{ incident.accused_name }}</td>
        </tr>
        <tr>
          <th>Accused Age:</th>
          <td>{{ incident.accused_age }}</td>
        </tr>
        <tr>
          <th>Accused Charges:</th>
          <td>{{ incident.spellchecked_charges }}</td>
        </tr>
        <tr>
          <th>Cortland Voice Source:</th>
          <td>
            {% if incident.cortlandVoiceSource.startswith('http') %}
              <a href="{{ incident.cortlandVoiceSource }}">{{ incident.cortlandVoiceSource }}</a>
            {% else %}
              {{ incident.cortlandVoiceSource }}
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>Cortland Standard Source:</th>
          <td>
            {% if incident.cortlandStandardSource.startswith('http') %}
              <a href="{{ incident.cortlandStandardSource }}">{{ incident.cortlandStandardSource }}</a>
            {% else %}
              {{ incident.cortlandStandardSource }}
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>
  {% else %}
    <p>No incident found for this ID.</p>
  {% endif %}
{% endblock %}
