<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='script.js') }}"></script>
<head>
  <title>Cortland Crimes</title>
  </head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/incidents">Incidents</a></li>
        <li><a href="/people">People</a></li>
        <li><a href="/verify_incidents">Verify Incidents</a></li>
        </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
