{% extends "layout.html" %}

{% block content %}
  <h1 class="people">People</h1>
  <table class="people">
    <thead>
      <tr>
        <th>Name</th>
        <th>Total Charges</th>
        <th>Total Incidents</th>
      </tr>
    </thead>
    <tbody>
      {% if people %}
        {% for person in people %}
          <tr>
            <td><a href="/charges/{{ person['name'] }}">{{ person.name }}</a></td>
            <td>{{ person.total_charges }}</td>
            <td>{{ person.total_incidents }}</td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td>No people found.</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
{% endblock %}
