{% extends "layout.html" %}

{% block content %}
<h1 style="text-align: center;">Verify Article: {{ article.headline }}</h1>
<p style="text-align: center; margin-bottom: 40px;">Source URL: <a href="{{ article.url }}">{{ article.url }}</a></p>

<div class="rescrape-incident-container" style="text-align: center; margin-bottom: 20px;">
    {% if 'cortlandvoice' in article.url %}
        <a href="{{ url_for('rescrape_cortland_voice_article', article_id=article.id) }}" class="btn btn-warning">Rescrape Article</a>
    <!-- TODO: add cortlandStandard rescrape -->
    {% endif %}
</div>

<div class="add-incident-container" style="text-align: center; margin-bottom: 20px;">
    <a href="{{ url_for('add_incident') }}" class="btn btn-primary">Add Incident</a>
</div>

<h2 style="text-align: center; margin-top: 20px;">Associated Incidents</h2>
<div class="table-container">
<table>
  <thead>
    <tr>
      <th>Incident ID</th>
      <th>Cortland Voice URL</th>
      <th>Cortland Standard URL</th>
      <th>Person</th>
      <th>Charges</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for incident in incidents %}
    <tr>
      <td>
        <a href="{{ url_for('incident', incident_id=incident.id) }}">{{ incident.id }}</a>
      </td>
      <td>
        {% if incident.cortlandVoiceSource: %}
          <a href="{{ incident.cortlandVoiceSource }}">{{ incident.cortlandVoiceSource }}</a>
        {% else %}
          -
        {% endif %}
      </td>
      <td>
        {% if incident.cortlandStandardSource: %}
          <a href="{{ incident.cortlandStandardSource }}">{{ incident.cortlandStandardSource }}</a>
        {% else %}
          -
        {% endif %}
      </td>
      <td>
        {% if incident.accused_name: %}
          <a href="/charges/{{ incident.accused_name }}">{{ incident.accused_name }}</a>
        {% else %}
          -
        {% endif %}
      </td>
      <td>{{ incident.charges }}</td>
      <td>
        <form action="{{ url_for('delete_incident', incident_id=incident.id) }}" method="POST">
          {{ form.hidden_tag() }} <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </td>

    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
<div class="verification-container">
  <form action="{{ url_for('update_verification', article_id=article.id) }}" method="post">
    {{ form.hidden_tag() }}  <label for="verified">Verified?</label>
<input type="checkbox" id="verified" name="verified">
<button type="submit">Mark as Verified</button>  <script>
  const checkbox = document.getElementById('verified');

  // Check if the checkbox is initially checked
  if (checkbox.checked) {
    checkbox.value = 'True';  // Set value to 'True' if checked initially
  }

  // Event listener for checkbox change
  checkbox.addEventListener('change', function() {
    checkbox.value = this.checked ? 'True' : '';  // Set value based on checked state
  });
</script>  </form>
</div>


<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
